
body{
    
    text-align: center;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}





nav{
    background-color:#e9e9e9;
    display:block;
    width: 100%s;
    
}



section{
    display: flex;
}
article{
    background-color: aqua; 
    width: 40%;
    
    
}
#middleArticle{
    width: 20%;
    margin-left: 2px;
    margin-right: 2px;
    
}
section>article>*{
    display: block;
}


.search-bar{
    width: 25%;
}




    
